body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(to right,#141e30,#243b55);
}

.sidebar{
    width:250px;
    height:100vh;
    background:#111827;
    position:fixed;
    animation:slide 1s;
}

.sidebar h2{
    color:white;
    text-align:center;
    padding:20px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:20px;
    transition:0.5s;
}

.sidebar a:hover{
    background:#06b6d4;
    padding-left:35px;
}

.content{
    margin-left:260px;
    padding:40px;
    color:white;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.card{
    width:220px;
    background:white;
    color:black;
    padding:30px;
    border-radius:15px;
    transition:0.5s;
    animation:fade 1s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0px 0px 20px cyan;
}

@keyframes slide{

    from{
        left:-250px;
    }

    to{
        left:0;
    }

}

@keyframes fade{

    from{
        opacity:0;
        transform:translateY(50px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}