body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#1e293b,#0f172a);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:450px;
}

.card{
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    animation:slideUp 0.8s ease;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

form{
    display:flex;
    flex-direction:column;
}

input{
    margin-bottom:18px;
    padding:14px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
}

input:focus{
    outline:none;
    border-color:#2563eb;
}

.button-group{
    display:flex;
    gap:15px;
}

.update-btn{
    flex:1;
    background:#2563eb;
    color:white;
    border:none;
    padding:14px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.update-btn:hover{
    background:#1d4ed8;
    transform:scale(1.03);
}

.back-btn{
    flex:1;
    background:#111827;
    color:white;
    text-decoration:none;
    text-align:center;
    padding:14px;
    border-radius:10px;
    transition:0.3s;
}

.back-btn:hover{
    background:#06b6d4;
}

@keyframes slideUp{
    from{
        transform:translateY(50px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}