<!DOCTYPE html>
<html>

<head>

    <title>Attendance</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='attendance.css') }}">

</head>

<body>

<div class="container">

<div class="card">

<h1>Attendance Form</h1>

<form method="POST"
onsubmit="return validateAttendanceForm()">

<input
type="number"
id="employee_id"
name="employee_id"
placeholder="Employee ID"
required>

<input
type="date"
id="attendance_date"
name="attendance_date"
required>

<input
type="time"
id="check_in_time"
name="check_in_time"
required>

<input
type="time"
id="check_out_time"
name="check_out_time"
required>

<input
type="text"
id="status"
name="status"
placeholder="Status"
required>

<button type="submit">
Add Attendance
</button>

</form>

</div>

</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>