<!DOCTYPE html>
<html>

<head>

    <title>Dashboard</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='dashboard.css') }}">

</head>

<body>

<div class="sidebar">

<h2>EMS Dashboard</h2>

<a href="/employees">Employees</a>

<a href="/departments">Departments</a>

<a href="/salary">Salary</a>

<a href="/attendance">Attendance</a>

<a href="/details">Details</a>

</div>

<div class="content">

<h1 id="main_heading">
Employee Management System
</h1>

<div id="datetime"></div>

<div class="cards">

<div class="card"
onclick="showMessage('Employees Section Opened')">

<h2>Employees</h2>

<p>Add Employee Details</p>

</div>

<div class="card"
onclick="showMessage('Departments Section Opened')">

<h2>Departments</h2>

<p>Add Department Details</p>

</div>

<div class="card"
onclick="showMessage('Salary Section Opened')">

<h2>Salary</h2>

<p>Add Salary Details</p>

</div>

<div class="card"
onclick="showMessage('Attendance Section Opened')">

<h2>Attendance</h2>

<p>Add Attendance Details</p>

</div>

<div class="card"
onclick="showMessage('Viewing All Details')">

<h2>Details</h2>

<p>View All Details</p>

</div>

</div>

</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>