<!DOCTYPE html>
<html>

<head>

<title>Success</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='success.css') }}">

</head>

<body>

<div class="success-box">

<h1>{{ message }}</h1>

<div class="buttons">

<a href="{{ back_url }}">

<button>
Go Back
</button>

</a>

<a href="/details">

<button class="details-btn">
View Details
</button>

</a>

<a href="/">

<button class="dashboard-btn">
Dashboard
</button>

</a>

</div>

</div>
	<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>